# **AIN 214 - PA1 - FALL 2024**


BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

**Deadline: 18.10.2023 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [58]:
# Import required libraries
import pandas as pd
import sqlite3

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* Use of naive for loops is not considered valid.

* For the db operations, use sqlite3 library in Python

# **PART- 1**

**Set of Questions on World Happiness Report Dataset (40 Pts)**

**Dataset Path: "Data/WorldHappinessReport.csv"**

# Q1. Basic Data Exploration **(10 Pts)**

1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 10th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [59]:
#1 Load the data into Pandas DataFrame and print the column names
dataframe = pd.read_csv("Data/WorldHappinessReport.csv")  #Loads csv file into the variable as a dataframe

In [60]:
#1
dataframe.columns  #Prints the column names of dataframe

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [61]:
#2 Display the first and last 10 rows of the dataset.
dataframe.head(10)  #First 10 rows

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [62]:
dataframe.tail(10)  #Last 10 rows

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
146,147,Malawi,3.587,0.186,0.541,0.306,0.531,0.210,0.080
147,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
148,149,Liberia,3.495,0.076,0.858,0.267,0.419,0.206,0.030
149,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144
150,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [63]:
#3 Display the random 10 rows
dataframe.sample(n=10)  #Gets 10 random row each time

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
104,105,South Africa,4.724,0.940,1.410,0.330,0.516,0.103,0.056
56,57,South Korea,5.875,1.266,1.204,0.955,0.244,0.175,0.051
112,113,Sierra Leone,4.571,0.256,0.813,0.000,0.355,0.238,0.053
64,65,Peru,5.663,0.934,1.249,0.674,0.530,0.092,0.034
51,52,Romania,5.945,1.116,1.219,0.726,0.528,0.088,0.001
115,116,Sri Lanka,4.471,0.918,1.314,0.672,0.585,0.307,0.050
25,26,Taiwan,6.441,1.365,1.436,0.857,0.418,0.151,0.078
92,93,Bosnia and Herzegovina,5.129,0.915,1.078,0.758,0.280,0.216,0.000
109,110,Laos,4.623,0.720,1.034,0.441,0.626,0.230,0.174

In [64]:
#4 sample using seed
dataframe.sample(n=10, random_state=2220)  #We gave a seed for the random operations, it will always result same

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
111,112,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032
50,51,Slovenia,5.948,1.219,1.506,0.856,0.633,0.160,0.051
108,109,Senegal,4.631,0.429,1.117,0.433,0.406,0.138,0.082
27,28,Brazil,6.419,0.986,1.474,0.675,0.493,0.110,0.088
116,117,Iraq,4.456,1.010,0.971,0.536,0.304,0.148,0.095
83,84,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135
103,104,Palestinian Territories,4.743,0.642,1.217,0.602,0.266,0.086,0.076
110,111,Tunisia,4.592,0.900,0.906,0.690,0.271,0.040,0.063
51,52,Romania,5.945,1.116,1.219,0.726,0.528,0.088,0.001
39,40,El Salvador,6.167,0.806,1.231,0.639,0.461,0.065,0.082

In [65]:
#5 Display every 10th row
dataframe.iloc[9::10]  #Start from 10th row, continue until the end, jump 10 row as a step

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
19,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,NaN
29,30,Guatemala,6.382,0.781,1.268,0.608,0.604,0.179,0.071
39,40,El Salvador,6.167,0.806,1.231,0.639,0.461,0.065,0.082
49,50,Lithuania,5.952,1.197,1.527,0.716,0.350,0.026,0.006
59,60,Kazakhstan,5.790,1.143,1.516,0.631,0.454,0.148,0.121
69,70,Libya,5.566,0.985,1.350,0.553,0.496,0.116,0.148
79,80,Lebanon,5.358,0.965,1.179,0.785,0.503,0.214,0.136
89,90,Jordan,5.161,0.822,1.265,0.645,0.468,0.130,0.134
99,100,Bulgaria,4.933,1.054,1.515,0.712,0.359,0.064,0.009
109,110,Laos,4.623,0.720,1.034,0.441,0.626,0.230,0.174
119,120,Cambodia,4.433,0.549,1.088,0.457,0.696,0.256,0.065
129,130,Myanmar,4.308,0.682,1.174,0.429,0.580,0.598,0.178
139,140,Guinea,3.964,0.344,0.792,0.211,0.394,0.185,0.094
149,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144

In [66]:
#6 Get the summary stats of the dataset regarding each column
dataframe.describe(include='all')  #For non-numeric column "Country or region" include parameter is 'all'

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
unique,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,78.500000,NaN,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,NaN,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,NaN,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,NaN,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,NaN,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,NaN,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,NaN,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [67]:
#7 Identify and count the number of missing values in each column
"""
First, it creates a same sized DataFrame with Boolean values (True or False) indicating whether each cell contains a NaN value (dataframe.isnull())

Then, it creates a Series with Boolean values (True or False) indicating whether each row contains True(NaN in this case) (.any(axis = 1))

Last, using Series it filters the dataframe.
"""
rows_containing_null = dataframe[dataframe.isnull().any(axis=1)]
rows_containing_null

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [68]:
#7
"""
First, it creates a same sized DataFrame with Boolean values (True or False) indicating whether each cell contains a NaN value (dataframe.isnull())

Then, it sums the Boolean values for each column separately (where True is treated as 1 and False as 0), resulting in the count of NaN values for each column.
"""
rows_containing_null.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

# Q2. Basic Data Statistics: **(10 Pts)**

1. Calculate the mean, median, and standard deviation of the happiness Score across all countries. **(1 Pts)**
2. Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score. **(1 Pts)**
3. Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score? **(2 Pts)**
4. Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. **(2 Pts)**
5. Are there any countries where Generosity is higher than Social Support? List them. **(2 Pts)**
6. What is the range (max-min) of GDP per Capita values in the dataset? **(2 Pts)**

In [69]:
#1
dataframe["Score"].agg(["mean", "median", "std"])  #Apllies aggregation to the Score column and computes wanted stats

mean      5.375917
median    5.378000
std       1.119506
Name: Score, dtype: float64

In [70]:
#2
dataframe.nlargest(n=5, columns=["Score"])[["Score", "Country or region"]]  #Top 5 happiest countries

   Score Country or region
0  7.632           Finland
1  7.594            Norway
2  7.555           Denmark
3  7.495           Iceland
4  7.487       Switzerland

In [71]:
#2
dataframe.nsmallest(n=5, columns=["Score"])[["Score", "Country or region"]]  #Bottom 5 least happy countries

     Score         Country or region
155  2.905                   Burundi
154  3.083  Central African Republic
153  3.254               South Sudan
152  3.303                  Tanzania
151  3.355                     Yemen

In [72]:
#3
"""
First returns a Series that contains the indexes of the maximum data in each columns separately (dataframe.idxmax()), 
Then, gets the index of the maximum data in Healthy life expectancy column (.get(key="Healthy life expectancy"))
Last, gets the Country and Score data using iloc
"""
index_of_max = dataframe.idxmax().get(key="Healthy life expectancy")
dataframe.iloc[index_of_max][["Country or region", "Score"]]

Country or region    Hong Kong
Score                     5.43
Name: 75, dtype: object

In [73]:
#4
filtering_series = dataframe[
                       "Score"] > 6  #Returns a boolean Series indicating whether score is grater than 6 for the country
dataframe[filtering_series]["Perceptions of corruption"].mean()  #Calculates average corruption perceptions

np.float64(0.1782888888888889)

In [74]:
#5
filtering_series = dataframe["Generosity"] > dataframe[
    "Social support"]  #Returns a boolean Series indicating whether generosity is grater than social support for the country
dataframe[filtering_series]["Country or region"]

154    Central African Republic
Name: Country or region, dtype: object

In [75]:
#6
index_of_max = dataframe.idxmax().get(key="GDP per capita")
index_of_min = dataframe.idxmin().get(key="GDP per capita")
#Calculating range
(dataframe.iloc[index_of_max][["GDP per capita"]] - dataframe.iloc[index_of_min][["GDP per capita"]]).get(
    key="GDP per capita"), "max: ", dataframe.iloc[index_of_max]["GDP per capita"], "min: ", \
dataframe.iloc[index_of_min]["GDP per capita"]

(np.float64(2.096), 'max: ', np.float64(2.096), 'min: ', np.float64(0.0))

# Q3. Data Filtering **(20 Pts)**

1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**
2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**
3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**
6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**

In [76]:
#1
filtering_series = dataframe["Score"] > 7.5  #Boolean Series as a filter
dataframe[filtering_series]["Country or region"]

0    Finland
1     Norway
2    Denmark
Name: Country or region, dtype: object

In [77]:
dataframe[filtering_series]["Country or region"].count()  #Number of countries have a Happiness Score greater than 7.5

np.int64(3)

In [78]:
#2
filtering_series = dataframe["Perceptions of corruption"] < 0.2  #Boolean Series as a filter
dataframe[filtering_series][["Country or region"]]

            Country or region
3                     Iceland
10             United Kingdom
12                 Costa Rica
17              United States
20             Czech Republic
..                        ...
151                     Yemen
152                  Tanzania
153               South Sudan
154  Central African Republic
155                   Burundi

[134 rows x 1 columns]

In [79]:
#3
dataframe.nlargest(n=5, columns=["Generosity"])[
    "Score"].mean()  #n is country number will be listed and column is specified to sort

np.float64(4.6144)

In [80]:
#4
filtering_series = (dataframe["Score"] > 4) & (dataframe["GDP per capita"] < 0.5)  #Boolean Series as a filter
dataframe[filtering_series]["Country or region"]

87           Tajikistan
97              Somalia
100               Nepal
108             Senegal
112        Sierra Leone
117                Mali
120        Burkina Faso
122          Mozambique
123               Kenya
126            Ethiopia
130                Chad
131    Congo (Kinshasa)
133               Niger
134              Uganda
135               Benin
Name: Country or region, dtype: object

In [81]:
#5
filtering_series = dataframe["Freedom to make life choices"] < dataframe["Social support"]  #Boolean Series as a filter
dataframe[filtering_series]["Country or region"]

0          Finland
1           Norway
2          Denmark
3          Iceland
4      Switzerland
          ...
150         Rwanda
151          Yemen
152       Tanzania
153    South Sudan
155        Burundi
Name: Country or region, Length: 154, dtype: object

In [82]:
#6
n = int(len(dataframe) * 0.1)  #Number of rows * %10
dataframe.nlargest(n=n, columns="Healthy life expectancy")["Country or region"]

75          Hong Kong
33          Singapore
53              Japan
35              Spain
56        South Korea
46              Italy
4         Switzerland
3             Iceland
8              Sweden
9           Australia
57    Northern Cyprus
60             Cyprus
22             France
6              Canada
16         Luxembourg
Name: Country or region, dtype: object

In [83]:
#7
filtering_series = dataframe["Generosity"] < dataframe["Social support"]  #Boolean Series as a filter
dataframe[filtering_series]["Country or region"]

0          Finland
1           Norway
2          Denmark
3          Iceland
4      Switzerland
          ...
150         Rwanda
151          Yemen
152       Tanzania
153    South Sudan
155        Burundi
Name: Country or region, Length: 155, dtype: object

In [84]:
#7
dataframe[filtering_series]["Score"].mean()  #Average of happiness score for filtered countries

np.float64(5.390709677419355)

In [85]:
#8
median_score = dataframe["Score"].median()  #Median of the happiness scores
filtering_series = median_score > dataframe["Score"]  #Boolean Series as a filter
filtered_countries = dataframe[filtering_series]
filtered_countries["Country or region"]  #Filtered countries as a dataframe

78                       Greece
79                      Lebanon
80                   Montenegro
81                      Croatia
82           Dominican Republic
                 ...
151                       Yemen
152                    Tanzania
153                 South Sudan
154    Central African Republic
155                     Burundi
Name: Country or region, Length: 78, dtype: object

In [86]:
#8 
len(filtered_countries)  #Number of countries

78

In [87]:
#8
dataframe.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [88]:
#8
"""
When we compare less happy countries with global mean, we can see that they are also lagging behind in other parameters.
They have less salaries, social supports, healthy lives, freedom, generosity. At the same time, their belief in the existence of corruption in their countries is also stronger.
"""
filtered_countries.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,117.500000,4.449321,0.621256,1.019423,0.432962,0.386885,0.176705,0.088295
std,22.660538,0.623645,0.308177,0.288077,0.221797,0.169637,0.105170,0.064311
min,79.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,98.250000,4.139500,0.357250,0.860250,0.254250,0.283000,0.112250,0.052000
50%,117.500000,4.451500,0.623500,1.083000,0.423000,0.419000,0.174000,0.077500
75%,136.750000,4.980250,0.910500,1.215000,0.612750,0.515500,0.219500,0.105500
max,156.000000,5.358000,1.154000,1.517000,0.879000,0.696000,0.598000,0.444000

In [89]:
#9
median_score = dataframe["Freedom to make life choices"].median()
median_score_1 = dataframe["Healthy life expectancy"].median()
filtering_series = (dataframe["Freedom to make life choices"] > median_score) & (
        dataframe["Healthy life expectancy"] > median_score_1)

filtered_countries = dataframe[filtering_series]["Country or region"]
filtered_countries

0              Finland
1               Norway
2              Denmark
3              Iceland
4          Switzerland
5          Netherlands
6               Canada
7          New Zealand
8               Sweden
9            Australia
11             Austria
12          Costa Rica
13             Ireland
14             Germany
15             Belgium
16          Luxembourg
17       United States
18              Israel
20      Czech Republic
21               Malta
22              France
26              Panama
27              Brazil
28           Argentina
30             Uruguay
31               Qatar
33           Singapore
40           Nicaragua
41              Poland
42             Bahrain
44              Kuwait
45            Thailand
47             Ecuador
50            Slovenia
51             Romania
53               Japan
54           Mauritius
55             Jamaica
57     Northern Cyprus
62             Estonia
64                Peru
75           Hong Kong
76            Portugal
79             Lebanon
85               China
94             Vietnam
115          Sri Lanka
Name: Country or region, dtype: object

In [90]:
#9
len(filtered_countries)  #Number of countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median

47

# **PART- 2**

**Set of Questions on the passenger_demographics.csv and passenger_survival.csv** **(25 Pts)**

**Dataset Path: "Data/passenger_demographics.csv" and "Data/passenger_survival.csv"**

# Q1. Data Merging and Consistency Checking


1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
4. Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning) **(4 Pts)**
5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**
6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
7. Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers. **(4 Pts)**

In [91]:
#1
demographics_df = pd.read_csv("Data/passenger_demographics.csv")
survival_df = pd.read_csv("Data/passenger_survival.csv")
dataframe = pd.merge(demographics_df, survival_df, on="PassengerId")  #Merges dataframes on Passenger ID column
len(dataframe)  #Number of rows inside merged dataframe

891

In [92]:
#2
#There is no duplicate
len(dataframe[dataframe.duplicated(keep=False)])

0

In [93]:
#2
dataframe.describe(include="all")  #Summary of the data

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Survived,Fare,Embarked
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,891.000000,889
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,S
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,NaN,644
mean,446.000000,2.308642,NaN,29.699118,0.523008,0.381594,0.383838,32.204208,NaN
std,257.353842,0.836071,NaN,14.526497,1.102743,0.806057,0.486592,49.693429,NaN
min,1.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,0.000000,NaN
25%,223.500000,2.000000,NaN,20.125000,0.000000,0.000000,0.000000,7.910400,NaN
50%,446.000000,3.000000,NaN,28.000000,0.000000,0.000000,0.000000,14.454200,NaN
75%,668.500000,3.000000,NaN,38.000000,1.000000,0.000000,1.000000,31.000000,NaN
max,891.000000,3.000000,NaN,80.000000,8.000000,6.000000,1.000000,512.329200,NaN

In [94]:
#3
#Females has higher survival rate than males and class also increases survival probability. 
dataframe.groupby(["Pclass", "Sex"])["Survived"].mean()

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [95]:
#3
male_dataframe = dataframe[dataframe["Sex"] == "male"]
female_dataframe = dataframe[dataframe["Sex"] == "female"]

male_count = len(male_dataframe)
female_count = len(female_dataframe)

male_survived = male_dataframe["Survived"].sum()
female_survived = female_dataframe["Survived"].sum()

In [96]:
#3
int(male_survived / male_count * 100)  #Survival rate of males

18

In [97]:
#3
int(female_survived / female_count * 100)  #Survival rate of females, percentage almost equals to 4 times of males' percentage.

74

In [98]:
#3
first_class_df = dataframe[dataframe["Pclass"] == 1]
second_class_df = dataframe[dataframe["Pclass"] == 2]
third_class_df = dataframe[dataframe["Pclass"] == 3]

first_class_count = len(first_class_df)
second_class_count = len(second_class_df)
third_class_count = len(third_class_df)

first_class_survived = first_class_df["Survived"].sum()
second_class_survived = second_class_df["Survived"].sum()
third_class_survived = third_class_df["Survived"].sum()

In [99]:
#3
int(first_class_survived / first_class_count * 100)  #Survival rate of first class

62

In [100]:
#3
int(second_class_survived / second_class_count * 100)  #Survival rate of second class

47

In [101]:
#3
int(third_class_survived / third_class_count * 100)  #Survival rate of first class, as the social class increases, the survival rate noticeably rises.

24

In [102]:
#4  
age_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
age_labels = ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99"]

dataframe['AgeGroup'] = pd.cut(dataframe['Age'], bins=age_bins, labels=age_labels, right=False)
#Since survival rate varies among 1 and 0, mean can be used as survival rate.
age_groups_survival_rate = dataframe.groupby('AgeGroup', observed=False)['Survived'].mean()

age_groups_survival_rate

#The survival rate is almost uniform except at the ends, there isn't a significant correlation between age and survival.

AgeGroup
0-9      0.612903
10-19    0.401961
20-29    0.350000
30-39    0.437126
40-49    0.382022
50-59    0.416667
60-69    0.315789
70-79    0.000000
80-89    1.000000
90-99         NaN
Name: Survived, dtype: float64

In [103]:
#5
dataframe["FamSize"] = dataframe["SibSp"] + dataframe["Parch"]
family_size_bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
family_size_labels = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]

dataframe["FamilySizeCategory"] = pd.cut(dataframe["FamSize"], bins=family_size_bins, labels=family_size_labels,
                                         right=False)
family_size_groups_survival_rate = dataframe.groupby("FamilySizeCategory", observed=False)['Survived'].mean()

family_size_groups_survival_rate
#Small families are better than large families for survival. Most optimal family size looks like 3, but there is not a direct correlation.

FamilySizeCategory
0    0.303538
1    0.552795
2    0.578431
3    0.724138
4    0.200000
5    0.136364
6    0.333333
7    0.000000
8         NaN
9         NaN
Name: Survived, dtype: float64

In [104]:
#6
survivors_dataframe = dataframe[dataframe["Survived"] == 1]
q_point_survived_count = len(survivors_dataframe[survivors_dataframe["Embarked"] == "Q"])
s_point_survived_count = len(survivors_dataframe[survivors_dataframe["Embarked"] == "S"])
c_point_survived_count = len(survivors_dataframe[survivors_dataframe["Embarked"] == "C"])
print(f"Q: {q_point_survived_count}, S: {s_point_survived_count}, C: {c_point_survived_count}")
"The S embarkation point had the most survivals."

Q: 30, S: 217, C: 93

'The S embarkation point had the most survivals.'

In [105]:
display(dataframe.groupby("Embarked")["Survived"].mean() * 100)
"The highest survival rate is at C point"

Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

'The highest survival rate is at C point'

In [106]:
#7
correlation_coe = dataframe["Survived"].corr(dataframe["Fare"])
print(
    f"Correlation coefficient : {correlation_coe}\nThis means that, generally, as the fare paid increases, the likelihood of survival also tends to increase, though the correlation is not very strong.")

Correlation coefficient : 0.2573065223849625
This means that, generally, as the fare paid increases, the likelihood of survival also tends to increase, though the correlation is not very strong.

# **PART- 3**

**Set of Questions on SQL - using sqlite3 library!**

**Dataset Path: "Data/supermarket_sales.csv"**


The Supermarket Sales Dataset is a comprehensive dataset designed to provide insights into the sales performance of a supermarket.

We want to store this data in a relational database, with the following table schemas:

# Tables

## 1. Branches Table

| Column   | Type  | Key      | Description                              |
|----------|-------|----------|------------------------------------------|
| BranchID | INTEGER  | PRIMARY  | Unique identifier for each branch        |
| Branch | TEXT  |            |    Name of the supermarket branch        |
| City     | TEXT  |          | City where the branch is located         |



## 2. Products Table

| Column      | Type  | Key      | Description                               |
|-------------|-------|----------|-------------------------------------------|
| ProductID | INTEGER  | PRIMARY  | Unique identifier for each product line   |
| ProductLine | TEXT  |          | Category of the product |



## 3. Orders Table

| Column        | Type  | Key      | Description                                    |
|---------------|-------|----------|------------------------------------------------|
| OrderID       | TEXT  | PRIMARY  | Unique identifier for each order               |
| BranchID      | INTEGER  |   FK       | Identifier for the branch of the order    |
| ProductID   | INTEGER  |      FK    | Identifier linking to Products table ordered                      |
| Quantity      | INTEGER |        | Number of units ordered                        |
| UnitPrice   | REAL  |          | Price per unit of the product             |Total         | REAL  |          | Total sales value for the order               |
| OrderDate     | TEXT  |          | Date when the order was placed                |
| PaymentMethod | TEXT  |          | Method used for payment                       |
| CustomerType  | TEXT  |          | Type of customer (e.g., Member, Normal)     |
| Gender        | TEXT  |          | Gender of the customer                        |

Summary of Table Structures

* Branches Table contains information about different supermarket branches.

* Products Table details the various products available for purchase.
* Orders Table records the transactions made, linking products and branches to specific purchases.

# **Questions** **(35 Pts)**

1. Read the csv file and create this DB **(10 Pts)**
2. Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
3. Find the total revenue generated for each branch by product line **(4 Pts)**
4. Find the total sales for each branch **(3 Pts)**
5. Determine the number of orders placed by each gender **(3 Pts)**
6. List the product lines sold in each branch and the number of orders **(4 Pts)**
7. Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**
8. Check for duplicated invoices **(3 Pts)**

In [107]:
dataframe = pd.read_csv("Data/supermarket_sales.csv").drop_duplicates()  #Creates dataframe

sql_connection = sqlite3.connect("supermarket_sales", timeout=10)
sql_cursor = sql_connection.cursor()  #sql settings

sql_cursor.execute("DROP TABLE IF EXISTS Orders")  #Rerun settings
sql_cursor.execute("DROP TABLE IF EXISTS Products")
sql_cursor.execute("DROP TABLE IF EXISTS Branches")

#Creates tables in given structure
sql_cursor.execute("""
CREATE TABLE IF NOT EXISTS Branches(
BranchID INTEGER PRIMARY KEY,
Branch TEXT,
City TEXT)
""")

sql_cursor.execute("""
Create TABLE IF NOT EXISTS Products(
ProductID INTEGER PRIMARY KEY,
ProductLine TEXT)
""")

sql_cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    OrderID TEXT PRIMARY KEY,
    BranchID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    UnitPrice REAL,
    Total REAL,
    OrderDate TEXT,
    PaymentMethod TEXT,
    CustomerType TEXT,
    Gender TEXT,
    FOREIGN KEY (BranchID) REFERENCES Branches(BranchID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')

#Takes columns for dataframes in given structure
products_df = dataframe.loc[:, ["Product line"]]
branches_df = dataframe.loc[:, ["Branch", "City"]]

#Makes every row unique
products_df.drop_duplicates(inplace=True)
branches_df.drop_duplicates(inplace=True)

#ID declaration
products_df["ProductID"] = range(1, len(products_df) + 1)
branches_df["BranchID"] = range(1, len(branches_df) + 1)

#Adds new ID columns to main dataframe
dataframe = dataframe.merge(branches_df, on=["Branch", "City"], how="left")
dataframe = dataframe.merge(products_df, on="Product line", how="left")

products_df.rename(columns={"Product line": "ProductLine"}, inplace=True)

#Creates orders dataframe
orders_df = dataframe[
    ["Invoice ID", "ProductID", "BranchID", 'Quantity', "Unit price", "Date", "Payment", "Customer type",
     "Gender"]].rename(
    columns={
        'Invoice ID': 'OrderID',
        'Unit price': 'UnitPrice',
        'Date': 'OrderDate',
        'Payment': 'PaymentMethod',
        "Customer type": 'CustomerType'
    })

#Saves data into db
orders_df.to_sql(name="Orders", con=sql_connection, index=False, if_exists="append")
products_df.to_sql(name="Products", con=sql_connection, index=False, if_exists="append")
branches_df.to_sql(name="Branches", con=sql_connection, index=False, if_exists="append")

sql_connection.close()

display(branches_df, products_df)

  Branch       City  BranchID
0      A     Yangon         1
1      C  Naypyitaw         2
9      B   Mandalay         3

               ProductLine  ProductID
0        Health and beauty          1
1   Electronic accessories          2
2       Home and lifestyle          3
4        Sports and travel          4
9       Food and beverages          5
10     Fashion accessories          6

In [108]:
#2
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)
sql_cursor = sql_connection.cursor()
#
query = pd.read_sql_query("""
SELECT Orders.ProductID, Products.ProductLine, SUM(Orders.Quantity) AS sale_count 
FROM Orders 
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Products.ProductLine
ORDER BY sale_count DESC
LIMIT 3
""", sql_connection)

sql_connection.close()

query

   ProductID             ProductLine  sale_count
0          2  Electronic accessories         971
1          5      Food and beverages         952
2          4       Sports and travel         920

In [109]:
#3
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT b.Branch, p.ProductLine, SUM(o.Quantity * o.UnitPrice) AS total_revenue
FROM Orders o 
JOIN Products p on p.ProductID = o.ProductID
JOIN Branches b on b.BranchID = o.BranchID
GROUP BY p.ProductLine, b.Branch
ORDER BY b.Branch, total_revenue
""", sql_connection)

sql_connection.close()

query

   Branch             ProductLine  total_revenue
0       A       Health and beauty       11997.86
1       A     Fashion accessories       15554.77
2       A      Food and beverages       16345.81
3       A  Electronic accessories       17444.87
4       A       Sports and travel       18450.19
5       A      Home and lifestyle       21349.71
6       B      Food and beverages       14490.37
7       B     Fashion accessories       15631.73
8       B  Electronic accessories       16239.47
9       B      Home and lifestyle       16713.49
10      B       Health and beauty       19029.20
11      B       Sports and travel       19036.38
12      C      Home and lifestyle       13233.86
13      C       Sports and travel       15011.36
14      C       Health and beauty       15824.12
15      C  Electronic accessories       18065.69
16      C     Fashion accessories       20533.40
17      C      Food and beverages       22635.10

In [110]:
#4
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT b.Branch, SUM(o.Quantity) AS total_sales
FROM Orders o 
JOIN Branches b on b.BranchID = o.BranchID
GROUP BY b.Branch
ORDER BY b.Branch
""", sql_connection)

sql_connection.close()

query

  Branch  total_sales
0      A         1859
1      B         1820
2      C         1831

In [111]:
#5
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT Gender, COUNT(OrderID) AS order_count
FROM Orders
GROUP BY Gender
ORDER BY order_count
""", sql_connection)

sql_connection.close()

query

   Gender  order_count
0    Male          499
1  Female          501

In [112]:
#6
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT b.Branch, p.ProductLine, COUNT(OrderID) AS order_count
FROM Orders o
JOIN Branches b on b.BranchID = o.BranchID
JOIN Products p on p.ProductID = o.ProductID
GROUP BY b.Branch, p.ProductLine
ORDER BY b.Branch, order_count
""", sql_connection)

sql_connection.close()

query

   Branch             ProductLine  order_count
0       A       Health and beauty           47
1       A     Fashion accessories           51
2       A      Food and beverages           58
3       A       Sports and travel           59
4       A  Electronic accessories           60
5       A      Home and lifestyle           65
6       B      Food and beverages           50
7       B      Home and lifestyle           50
8       B       Health and beauty           53
9       B  Electronic accessories           55
10      B     Fashion accessories           62
11      B       Sports and travel           62
12      C      Home and lifestyle           45
13      C       Sports and travel           45
14      C       Health and beauty           52
15      C  Electronic accessories           55
16      C     Fashion accessories           65
17      C      Food and beverages           66

In [113]:
#7
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT p.ProductLine, o.Quantity
FROM Orders o 
JOIN Products p on p.ProductID = o.ProductID
ORDER BY o.Quantity DESC
LIMIT 1
""", sql_connection)

sql_connection.close()

query

          ProductLine  Quantity
0  Home and lifestyle        10

In [114]:
#8
sql_connection = sqlite3.connect("supermarket_sales", timeout=10)

query = pd.read_sql_query("""
SELECT OrderID, COUNT(*) AS count
FROM Orders
GROUP BY OrderID
HAVING count > 1
""", sql_connection)

sql_connection.close()

#To be able to make InvoiceId primaryKey in db, I dropped duplicates at reading part of csv.
dataframe = pd.read_csv("Data/supermarket_sales.csv")
display(dataframe[dataframe.duplicated()])

query

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment
1000,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet
1001,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet
1002,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash
1003,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash
1004,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash

Empty DataFrame
Columns: [OrderID, count]
Index: []

# SUBMIT FORMAT

* **<-zip>**
  - **studentID_name_surname_hw1.ipynb**

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.